{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container my-3">
  <table class="table">
    <thead>
      <tr>
        <th>순위</th>
        <th>곡명</th>
        <th>가수</th>
        <th>앨범</th>
      </tr>
    </thead>
    <tbody>
      {% for sing in data%}
        <tr>
          <td>{{sing.rank}}</td>
          <td>{{sing.name}}</td>
          <td>{{sing.singer}}</td>
          <td>{{sing.album}}</td>
        </tr>
      {% endfor%}
      <!-- 리스트 구조로 들어올때
      {% for i in` data%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
      </tr>
      {% endfor%} -->
    </tbody>
  </table>
</div>

{% endblock%}