<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>detail | <a href="/list">List</a></h3>
  id : {{dto.idx}}<br/>
  hit : {{dto.hit}}<br/>
  wrtier : {{dto.writer}}<br/>
  title : {{dto.title}}<br/>
  content : {{dto.content}}<br/>
  post_date : {{dto.post_date}}<br/>
  file : {{dto.filename}}<br/>
  <a href="">수정</a> | 
  <a href="/delete/{{dto.idx}}">삭제</a>

</body>
</html>