{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container my-3">
  <table class="table">
    <thead>
      <tr>
        <th>순위</th>
        <th>곡명</th>
        <th>가수</th>
        <th>앨범</th>
      </tr>
    </thead>
    <tbody>
      {% for sing in data%}
        <tr>
          <td>{{sing.rank}}</td>
          <td>{{sing.name}}</td>
          <td>{{sing.singer}}</td>
          <td>{{sing.album}}</td>
        </tr>
      {% endfor%}

    </tbody>
  </table>
</div>

{% endblock%}